/**************************/
/* MAIN SECTION */
/**************************/

.img-drawers {
    width: 40%;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    object-position: left;
}

.main-section {
    width: 73rem;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.article-text-container {
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 1rem;
}

.article-header {
    color: var(--very-dark-grayish-blue);
}

.article-description {
    margin: 1.8rem 0;
    color: var(--grayish-blue);
}

.profile-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-profile-container {
    display: flex;
    gap: 1.8rem;
    min-width: 17.7rem;
    justify-content: space-between;
}

.img-profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.profile-name {
    color: var(--very-dark-grayish-blue);
}

.article-date {
    color: var(--grayish-blue);
}

.img-social-icon {
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer;
}

.share-box-outer-container {
    position: relative;
    top: -6rem;
    left: 15rem;
}

.share-box-inner-container {
    width: 27rem;
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    letter-spacing: 0.5rem;
    color: var(--grayish-blue);
    background-color: var(--very-dark-grayish-blue);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.triangle-shape {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-grayish-blue);
}

.share-icon-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
}

.share-icon-outer-container:hover {
    background-color: var(--desaturated-dark-blue);
}

.share-icon-inner-container {
    width: 3rem;
    height: 3rem;
    background-color: var(--desaturated-dark-blue);
    -webkit-mask: url("../images/icon-share.svg") no-repeat center;
    mask: url("../images/icon-share.svg") no-repeat center;
}

.share-icon-inner-container:hover {
    background-color: white;
}
